.elementor-963 .elementor-element.elementor-element-60266c1 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-60266c1:not(.elementor-motion-effects-element-type-background),
.elementor-963 .elementor-element.elementor-element-60266c1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #201516;
}

.elementor-963 .elementor-element.elementor-element-60266c1,
.elementor-963 .elementor-element.elementor-element-60266c1::before {
    --border-transition: 0.3s;
}

.elementor-963 .elementor-element.elementor-element-635019a {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 100px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-635019a:not(.elementor-motion-effects-element-type-background),
.elementor-963 .elementor-element.elementor-element-635019a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #201516;
}

.elementor-963 .elementor-element.elementor-element-635019a,
.elementor-963 .elementor-element.elementor-element-635019a::before {
    --border-transition: 0.3s;
}

.elementor-963 .elementor-element.elementor-element-2cf3d09 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-0beb14e {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-a67c6aa {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-ba1dad5 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 100px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-ba1dad5:not(.elementor-motion-effects-element-type-background),
.elementor-963 .elementor-element.elementor-element-ba1dad5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #201516;
}

.elementor-963 .elementor-element.elementor-element-ba1dad5,
.elementor-963 .elementor-element.elementor-element-ba1dad5::before {
    --border-transition: 0.3s;
}

.elementor-963 .elementor-element.elementor-element-b90fad8 .section-title h2,
.elementor-963 .elementor-element.elementor-element-b90fad8 .section-title h3,
.elementor-963 .elementor-element.elementor-element-b90fad8 .section-title h4,
.elementor-963 .elementor-element.elementor-element-b90fad8 .section-title h5,
.elementor-963 .elementor-element.elementor-element-b90fad8 .section-title h5,
.elementor-963 .elementor-element.elementor-element-b90fad8 .section-title h6,
.elementor-963 .elementor-element.elementor-element-b90fad8 .section-title h1 {
    color: #FFFFFF;
}

.elementor-963 .elementor-element.elementor-element-e14fa28 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-e14fa28:not(.elementor-motion-effects-element-type-background),
.elementor-963 .elementor-element.elementor-element-e14fa28>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #201516;
}

.elementor-963 .elementor-element.elementor-element-e14fa28,
.elementor-963 .elementor-element.elementor-element-e14fa28::before {
    --border-transition: 0.3s;
}

.elementor-963 .elementor-element.elementor-element-bb586e0 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-64ec4a7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-8256aa0 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-bf042dd {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-2d9763b {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-2d9763b:not(.elementor-motion-effects-element-type-background),
.elementor-963 .elementor-element.elementor-element-2d9763b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #201516;
}

.elementor-963 .elementor-element.elementor-element-2d9763b,
.elementor-963 .elementor-element.elementor-element-2d9763b::before {
    --border-transition: 0.3s;
}

.elementor-963 .elementor-element.elementor-element-8c19b9f {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-963 .elementor-element.elementor-element-a376dfc .ott-overview-area {
    background-color: #201516;
}

@media(max-width:1200px) {
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
    .elementor-963 .elementor-element.elementor-element-64ec4a7 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 0px;
    }
}

@media(min-width:768px) {
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --content-width: 1320px;
    }
    .elementor-963 .elementor-element.elementor-element-bb586e0 {
        --width: 50%;
    }
    .elementor-963 .elementor-element.elementor-element-64ec4a7 {
        --width: 50%;
    }
}

@media(max-width:1399px) and (min-width:768px) {
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --content-width: 1140px;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --content-width: 960px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --content-width: 960px;
    }
}

@media(max-width:991px) and (min-width:768px) {
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --content-width: 720px;
    }
    .elementor-963 .elementor-element.elementor-element-bb586e0 {
        --width: 100%;
    }
    .elementor-963 .elementor-element.elementor-element-64ec4a7 {
        --width: 100%;
    }
}

@media(max-width:1399px) {
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
}

@media(max-width:1024px) {
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-963 .elementor-element.elementor-element-64ec4a7 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 0px;
    }
}

@media(max-width:991px) {
    .elementor-963 .elementor-element.elementor-element-635019a {
        --padding-top: 60px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-963 .elementor-element.elementor-element-ba1dad5 {
        --padding-top: 60px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 14px;
        --padding-right: 14px;
    }
    .elementor-963 .elementor-element.elementor-element-bb586e0 {
        --justify-content: center;
        --align-items: flex-start;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 14px;
        --padding-right: 14px;
    }
    .elementor-963 .elementor-element.elementor-element-64ec4a7 {
        --justify-content: center;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 14px;
        --padding-right: 14px;
    }
    .elementor-963 .elementor-element.elementor-element-2d9763b {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 60px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
}

@media(max-width:767px) {
    .elementor-963 .elementor-element.elementor-element-60266c1 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-963 .elementor-element.elementor-element-635019a {
        --padding-top: 40px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-963 .elementor-element.elementor-element-0beb14e {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-963 .elementor-element.elementor-element-fc5796b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-963 .elementor-element.elementor-element-e14fa28 {
        --content-width: 540px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 14px;
        --padding-right: 14px;
    }
    .elementor-963 .elementor-element.elementor-element-64ec4a7 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
}